
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="/Departman">Departmanlar <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="/Personel">Personeller</a>
            @if (User.IsInRole("A"))
            {
                <a class="nav-item nav-link" href="/Kullanici">Kullanıcılar</a>
            }

            <a class="nav-item nav-link" href="/Security/Login">Giriş Yap</a>
            <a class="nav-item nav-link" href="/Security/Logout">Çıkış Yap</a>
        </div>
    </div>
</nav>

